<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime requestValidationMode="2.0" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" validateRequest="false" />
    <!--customErrors mode="On" defaultRedirect="http://provisioningtool.techaffinity.com/App/CustomerInfo.aspx"/-->
    <customErrors mode="Off" defaultRedirect="http://localhost/App/CustomerInfo.aspx" />
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <connectionStrings>
    <add name="IntelligISConnection" connectionString="Data Source=192.168.6.22;Initial Catalog=ProvisioningTool_Local;User ID=IntelligIS;Password=password#123;MultipleActiveResultSets=True" />
  </connectionStrings>
  <appSettings>
    <!--<add key ="BaseServiceURL" value ="http://provisioningtool.techaffinity.com/Services/"/>-->
    <add key="BaseServiceURL" value="http://localhost/Services/" />
    <add key="MasterServiceName" value="MasterService.svc/" />
    <add key="PostService" value="ProcessData/" />
    <add key="GetService" value="GetData/" />
    <add key="GetServiceForColorBox" value="GetDataForColorBox/" />
    <!--<add key ="IFrameBaseURL" value ="http://provisioningtool.techaffinity.com/App/"/>-->
    <add key="IFrameBaseURL" value="http://localhost/App/" />
    <add key="net.autotask.webservices4.atws" value="https://webservices4.autotask.net/ATServices/1.5/atws.asmx" />
    <add key="AutotaskUserID" value="systemprocesses@leeshanok.com" />
    <add key="AutotaskPwd" value="a7to-task." />
  </appSettings>
  <system.webServer>
    <httpCompression directory="%SystemDrive%inetpubtempIIS Temporary Compressed Files">
      <scheme name="gzip" dll="%Windir%system32inetsrvgzip.dll" />
      <dynamicTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </staticTypes>
    </httpCompression>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
    <staticContent>
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <clientCache cacheControlMode="UseExpires" httpExpires="Sun, 29 Mar 2020 00:00:00 GMT" />
    </staticContent>
    <httpProtocol>
      <customHeaders>
        <add name="ETag" value="&quot;&quot;" />
      </customHeaders>
    </httpProtocol>
    <directoryBrowse enabled="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.3.0" newVersion="5.5.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="dotless.Core" publicKeyToken="96b446c9e63eae34" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.1.0" newVersion="1.4.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>