<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="Microsoft.Web.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ProvisioningToolServices.MasterService" maxReceivedMessageSize="262144" />
        <binding name="ATWSSoap">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://webservices5.autotask.net/ATServices/1.5/atws.asmx" binding="basicHttpBinding" bindingConfiguration="ATWSSoap" contract="AutotaskWSDL.ATWSSoap" name="ATWSSoap" />
    </client>
    <!-- Added for JSON in WCF-->
    <!--standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint helpEnabled="true" automaticFormatSelectionEnabled="true"/>
      </webHttpEndpoint>
    </standardEndpoints>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" /-->
    <!-- Added for JSON in WCF-->
    <!--Added newly -->
    <services>
      <service name="ProvisioningToolServices.MasterService">
        <endpoint address="" behaviorConfiguration="restfulBehavior" binding="webHttpBinding" bindingConfiguration="" contract="ProvisioningToolServices.IMasterService" />
        <host>
          <baseAddresses>
            <!--<add baseAddress="http://localhost/Services/" />-->
          </baseAddresses>
        </host>
      </service>
    </services>
    <!--Added newly -->
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
      <!--Added newly -->
      <endpointBehaviors>
        <behavior name="restfulBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <!--Added newly -->
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true" minFreeMemoryPercentageToActivateService="0" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </modules>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
  </system.webServer>
  <connectionStrings>
    <add name="IntelligISConnection" connectionString="Data Source=192.168.6.22;Initial Catalog=ProvisioningTool_Local;User ID=IntelligIS;Password=password#123;MultipleActiveResultSets=True" />
  </connectionStrings>
  <appSettings>
    <!--<add key ="BaseServiceURL" value ="http://provisioningtool.techaffinity.com/Services/"/>-->
    <add key="BaseServiceURL" value="http://localhost/Services/" />
    <add key="MasterServiceName" value="MasterService.svc/" />
    <add key="ServerPath" value="http://localhost:80" />
    <add key="EnableAudit" value="true" />
    <add key="IsTesting" value="true" />
    <add key="EmailFrom" value="noreply@Techaffinity.com" />
    <add key="PrintSubject" value="" />
    <add key="RequestType" value="" />
    <add key="DeveloperEmailID" value="koteeswaranl@techaffinity.com" />
    <add key="smtphost" value="smtp.gmail.com" />
    <add key="useSSL" value="true" />
    <add key="from" value="tagmsdevelopers@gmail.com" />
    <add key="smtpport" value="25" />
    <add key="emailUsername" value="tagmsdevelopers@gmail.com" />
    <add key="emailPassword" value="$Dsme123" />
    <add key="ToEmail" value="" />
    <add key="CCEmailTesting" value="" />
    <add key="AutotaskUserID" value="systemprocesses@leeshanok.com" />
    <add key="AutotaskPwd" value="a7to-task." />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>