<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <add key="ServerPath" value="http://localhost:80" />
    <add key="EnableAudit" value="true"/>
    <add key="IsTesting" value="true"/>
    <add key="EmailFrom" value="noreply@Techaffinity.com"/>
    <add key="PrintSubject" value=""/>
    <add key="RequestType" value=""/>
    <add key="DeveloperEmailID" value="babum@techaffinity.com,satheeshm@techaffinity.com,praveenkumart@techaffinity.com"/>
    <add key="smtphost" value="smtp.gmail.com" />
    <add key="useSSL" value="true" />
    <add key="from" value="tagmsdevelopers@gmail.com" />
    <add key="smtpport" value="587" />
    <add key="emailUsername" value="tagmsdevelopers@gmail.com" />
    <add key="emailPassword" value="$Dsme123" />
    <add key="ToEmail" value="satheeshm@techaffinity.com" />
    <add key="CCEmailTesting" value="" />
    <add key="BCC" value="satheeshm@techaffinity.com,praveenkumart@techaffinity.com,babum@techaffinity.com" />
  </appSettings>
</configuration>